.new-blog-button {
  position: absolute;
  bottom: 0;
  right: 0;
}

.blog-item {
  margin: 40px;
  background: #d9d9d9;
  height: 20vh;
  min-height: 180px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
}

.blog-item:hover {
  opacity: 0.8;
  box-shadow: #d9d9d9 0px 0px 20px;
}

.blog-item-content {
  margin: 10% 10%;
  width: 80%;
  height: 90%;
  overflow-wrap: break-word;
  overflow-y: hidden;
}

.blog-item-title {
  margin: 10px;
}
